Name:    harbor
Version: VERSION
Release: 1
LICENSE: FOUO
Summary: Kickstart server rpm
Vendor:  AFRL
Source:  harbor-offline.tar

BuildRoot: %{_topdir}/BUILDROOT/%{name}-%{version}-%{release}


%description 
Builds the kickstart server

%changelog
* Wed Sep 13 2017 Chad Homan
- initial build 

%prep
rm -rf rpm/SOURCES/*
rm -rf $RPM_BUILD_DIR/tmp
mkdir -p $RPM_BUILD_ROOT/opt

##mv harbor-offline-installer-vVERSION.tgz %{_sourcedir}


%build

%install
mkdir -p $RPM_BUILD_ROOT/opt
##mv harbor-offline-installer-vVERSION.tgz %{_sourcedir}
##install -m 755 %{_sourcedir}/harbor-offline-installer-vVERSION.tgz $RPM_BUILD_ROOT/opt/harbor-offline-installer-vVERSION.tgz
install -m 755 harbor-offline-installer-vVERSION.tgz $RPM_BUILD_ROOT/opt/harbor-offline-installer-vVERSION.tgz
cd $RPM_BUILD_ROOT/opt

%files
/opt/harbor-offline-installer-vVERSION.tgz

%post
cd /opt
tar xvf harbor-offline-installer-vVERSION.tgz
rm -rf harbor-offline-installer-vVERSION.tgz
firewall-cmd --add-port=80/tcp --permanent
firewall-cmd --add-port=80/udp --permanent
firewall-cmd --reload

##systemctl enable dhcpd
##systemctl enable nfs-server
##systemctl enable tftp
##systemctl enable httpd
##systemctl start dhcpd
##systemctl start nfs-server
##systemctl start tftp
##systemctl start httpd

%clean 
rm -rf $RPM_BUILD_ROOT

